:root{
  --warm-blue: #000000;
  --font-mono: 'Fira Mono', monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

header {
  position: relative;
}

.header__container{
  background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.1));
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: flex;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.logo img {
  height: 6vh;
}

.menu-icon {
  cursor: pointer;
}


.menu-icon div{
  width: 32px;
  height: 5px;
  margin: 5px;
  background-color: var(--warm-blue);
  transition: all 0.3s ease;
}

.menu__list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7vh;
  right: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  background: white;
  background: linear-gradient(to left bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.9));
}

.menu__list li {
  list-style: none;
  opacity: 0;
}

.menu__list a {
  text-decoration: none;
  color: var(--warm-blue);
  font-size: 2rem;
  font-weight: bold;
}

.menu-active {
  transform: translateX(0);
}

.toggle .line-1{
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line-2{
  opacity: 0;
}

.toggle .line-3{
  transform: rotate(45deg) translate(-8px, -6px);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  min-width: 300px;
  height: 55%;
  /* max-width: 700px; */
  text-align: center;
  border-radius: 2rem;
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  color: var(--warm-blue);
}

.main h1 {
  font-family: var(--font-mono);
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.main h2 {
  font-size: 6.0rem;
  margin-bottom: 15px;
}

.main h3 {
  margin-bottom: 30px;
  font-size: 1.6rem;
}

.main span {
  position: absolute;
  left: calc(50% - 30px);
  top: 75%;
  display: inline-block;
  width: 60px;
  height: 35px;
  background-image: url('../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.about__container {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: flex-end;
}

.about__container .glass {
  margin: 0 auto;
  display: grid;
  grid-template: 0.2fr 1fr 1.2fr/ 1fr;
  border-radius: 2rem;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  width: 80%;
  min-width: 300px;
}

.about__title {
  justify-self: center;
  max-width: 300px;
  width: 80%;
  height: 35px;
  border-radius: 2rem;
  font-family: var(--font-mono);
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
  align-content: center;
  padding: 0 10px;
  color: black;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.8));
}

.about__container figure{
  margin-top: 30px;
  align-self: center;
}

.about__container .about__image-container img{
  width: 200px;
  height: 260px;
  object-fit: cover;
  border-radius: 40%;
}

.about__paragraph--container {
  position: relative;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.2);
  max-width: 500px; 
  min-height: 320px;
  max-height: 240px;
  margin: 10px;
  padding: 20px;
  border-radius: 2rem;
  justify-self: center;
}

.header__button{
  position: absolute;
  left: calc(50% - 122px);
  top: 75%;
  display: block;
  margin: 10px;
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  background-size: 200% auto;
  padding: 15px 45px;
  width: 229px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.header__button:hover {
  background-position: right center; /* change the direction of the change */
  color: #fff;
  text-decoration: none;
}

.about__paragraph--container p {
  font-size: 1.6rem;
  text-align: justify;
  font-weight: 500;
}

.skills__container {
  height: 100vh;
}

.tech--container {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.images--tech img{
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.projects__container {
  height: 100vh;
}

