:root{
  --warm-blue: #252C40;
  --font-mono: 'Fira Mono', monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  background-image: url('../assets/images/pexels.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  padding: 0 10px;
  overscroll-behavior: contain;
}

.header__container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(170, 177, 191, .5);
  align-items: center;
  display: flex;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.logo img {
  height: 6vh;
}

.menu-icon {
  cursor: pointer;
}


.menu-icon div{
  width: 32px;
  height: 5px;
  margin: 5px;
  background-color: var(--warm-blue);
  transition: all 0.3s ease;
}

.menu__list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7vh;
  right: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(170, 177, 191, 0.9);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.menu__list li {
  list-style: none;
  opacity: 0;
}

.menu__list a {
  text-decoration: none;
  color: var(--warm-blue);
  font-size: 2rem;
  font-weight: bold;
}

.menu-active {
  transform: translateX(0);
}

.toggle .line-1{
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line-2{
  opacity: 0;
}

.toggle .line-3{
  transform: rotate(45deg) translate(-8px, -6px);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.header__main {
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 45% 0 5% 0;
  color: var(--warm-blue);
  text-align: center;
}

.header__main h1 {
  font-family: var(--font-mono);
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.header__main h2 {
  font-size: 6.0rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header__main h3 {
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.header__main span {
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-top: 80px;
  background-image: url('../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__container {
  display: grid;
  grid-template: 0.5fr 1fr 1fr/ 1fr;
  margin: 0 10px;
  height: 100vh;
  color: var(--warm-blue);
  text-align: center;
}

.about__container h1{
  font-family: var(--font-mono);
  margin-top: 30%;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.about__container .about__image-container img{
  width: 200px;
  height: 260px;
  object-fit: cover;
  border-radius: 40%;
}

.about__container p {
  font-size: 1.6rem;
}

.service__container {
  height: 100vh;
}

.projects__container {
  height: 100vh;
}
